.container-start {
    margin: 20px auto;
    width: 220px;
    height: 125px;
    position: relative;
    cursor: default;
}

.container-arrow-black {
    margin-left: 20px;
    width: 200px;
    height: 125px;
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-white {
    margin-left: 5px;
    margin-top: 5px;
    width: 185px;
    height: 115px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-blue {
    margin-top: 10px;
    margin-left: 8px;
    width: 160px;
    height: 95px;
    background-color: #333345;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-red {
    margin-left: 10px;
    margin-top: 10px;
    width: 135px;
    height: 75px;
    background-color: #cc3300;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.arrow {
    width: 135px;
    height: 75px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.top-color {
    width: 135px;
    height: 75px;
    background-color: #bbbbcc;
    clip-path: polygon(0% 0%, 30% 50%, 100% 50%);
    position: absolute;
}

.left-color {
    width: 135px;
    height: 75px;
    background-color: #ccdddd;
    clip-path: polygon(0% 0%, 30% 50%, 0% 100%);
    position: absolute;
}

.bottom-color {
    width: 135px;
    height: 75px;
    background-color: #aabbbb;
    clip-path: polygon(0% 100%, 30% 50%, 100% 50%);
    position: absolute;
}

.title {
    left: 0;
    top: calc(50% - 60px/2);
    font-size: 60px;
    position: absolute;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

@media (max-width: 540px) {
    .container-start {
        margin: 20px auto;
        height: 155px;
    }

    .title {
        top: calc(50% - 90px/2);
    }
}