.display {
    margin-top: 40px;
    padding: 5px;
    width: 230px;
    height: 230px;
    background-color: #000;
    border: 6px solid #c9c3c6;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.show-num-active {
    background-color: #44a8ff;
}